# Built-in Data Structures, Functions, and Files 

- Python Libraries such as pandas and NumPy are useful in handling large datasets.
- Data structure include tuples, lists, dictionaries and sets

In [5]:
# Data structure and sequence 

tup = (1, 3, 5, 7, 11, 99) # created using values and coma separated values 
tup

(1, 3, 5, 7, 11, 99)

In [2]:
# We can also omit the brackets

tup = 1, 3, 4, 1, 9, 
tup

(1, 3, 4, 1, 9)

In [4]:
# We can also convert/change sequence or iterator to tuple by invoking tuple 

tuple([9, 8, 9,])

(9, 8, 9)

In [6]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [10]:
nested_tup = (4, 5, 6), (8, 1)

In [12]:
nested_tup

((4, 5, 6), (8, 1))

In [16]:
nested_tup[1]

(8, 1)

In [18]:
nested_tup[0]

(4, 5, 6)

# Once the tuple is create it's not possible to modify which object is stored in each slot:

In [6]:
tup = tuple(['foo', [1, 2], True])

tup[2] = False

TypeError: 'tuple' object does not support item assignment

If an object inside a tuple is mutable, such as a list, you can modify it in place

In [9]:
tup[1].append(3)

tup

('foo', [1, 2, 3], True)

# The + operate is useful for concatenate tuples

In [14]:
(4, None, 'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

# However Multiplying a tuple by an integer, as with lists, has the effect of concatenating that many copies of the tuples

In [17]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

# Unpackign tuple

In [24]:
tup = (4, 5, 6)

a, b, c = tup

b

5

In [26]:
c

6

In [28]:
a

4

# We can even unpack sequence with nested tuples

In [31]:
tup = 4, 5, (6, 7)

a, b, (c, d) = tup

d

7

# From there we can use the functionality to swap variable names

In [34]:
tmp = a 

a = b

b = tmp

In [36]:
# For example swaping in python

In [38]:
a, b = 1, 2

a

1

In [40]:
b

2

In [42]:
b, a = a, b

a

2

In [44]:
b

1

# A common use of variable unpacking is iterating over sequences of tuples or lists:

In [47]:
seq = [(1, 2, 3),(4, 5, 6), (7, 8, 9)]

for a, b, c in seq: 
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

# Plucking using a special syntax known a *rest

In [10]:
values = 1, 2, 3, 4, 5

a, b, *rest = values

values

(1, 2, 3, 4, 5)