# Built-in Data Structures, Functions, and Files 

- Python Libraries such as pandas and NumPy are useful in handling large datasets.
- Data structure include tuples, lists, dictionaries and sets

In [5]:
# Data structure and sequence 

tup = (1, 3, 5, 7, 11, 99) # created using values and coma separated values 
tup

(1, 3, 5, 7, 11, 99)

In [2]:
# We can also omit the brackets

tup = 1, 3, 4, 1, 9, 
tup

(1, 3, 4, 1, 9)

In [4]:
# We can also convert/change sequence or iterator to tuple by invoking tuple 

tuple([9, 8, 9,])

(9, 8, 9)

In [6]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [10]:
nested_tup = (4, 5, 6), (8, 1)

In [12]:
nested_tup

((4, 5, 6), (8, 1))

In [16]:
nested_tup[1]

(8, 1)

In [18]:
nested_tup[0]

(4, 5, 6)

# Once the tuple is create it's not possible to modify which object is stored in each slot:

In [6]:
tup = tuple(['foo', [1, 2], True])

tup[2] = False

TypeError: 'tuple' object does not support item assignment

If an object inside a tuple is mutable, such as a list, you can modify it in place

In [9]:
tup[1].append(3)

tup

('foo', [1, 2, 3], True)

# The + operate is useful for concatenate tuples

In [14]:
(4, None, 'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

# However Multiplying a tuple by an integer, as with lists, has the effect of concatenating that many copies of the tuples

In [17]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

# Unpackign tuple

In [24]:
tup = (4, 5, 6)

a, b, c = tup

b

5

In [26]:
c

6

In [28]:
a

4

# We can even unpack sequence with nested tuples

In [31]:
tup = 4, 5, (6, 7)

a, b, (c, d) = tup

d

7

# From there we can use the functionality to swap variable names

In [34]:
tmp = a 

a = b

b = tmp

In [36]:
# For example swaping in python

In [38]:
a, b = 1, 2

a

1

In [40]:
b

2

In [42]:
b, a = a, b

a

2

In [44]:
b

1

# A common use of variable unpacking is iterating over sequences of tuples or lists:

In [47]:
seq = [(1, 2, 3),(4, 5, 6), (7, 8, 9)]

for a, b, c in seq: 
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

# Plucking using a special syntax known a *rest which is used sometimes when you want to discard values of a variable

In [10]:
values = 1, 2, 3, 4, 5

a, b, *rest = values

values

(1, 2, 3, 4, 5)

In [12]:
a

1

In [14]:
b

2

In [16]:
rest

[3, 4, 5]

# Tuple Methods 

Tuples are light on the instance of method because they cannot to modified. One useful methods applied in tuples is count, which counts the number of occurrences of value:

In [22]:
a = (1, 2, 2, 2, 3, 4, 2)

a.count(2)

4

# List

Unlike tuples, list is mutable, you can modify the lengths of the variable including their contents. You define list using [] brackets.

In [4]:
a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')

b_list = list(tup)

b_list

['foo', 'bar', 'baz']

In [8]:
b_list[1] = 'peekaboo'

In [10]:
b_list

['foo', 'peekaboo', 'baz']

# List built-in function is commonly utilized in processing data as a way to materilize an iterator or generator expression:

In [32]:
gen = range (10)

gen

range(0, 10)

In [34]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Adding and removing elements

In [12]:
# Using append methods to add elements to the end of lists 

b_list.append('dwarf')

b_list

['foo', 'peekaboo', 'baz', 'dwarf']

# You can use insert method to place an element at a specific location in the list:

In [14]:
b_list.insert(1, 'red')

b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [16]:
b_list.pop(2)

'peekaboo'

In [18]:
b_list

['foo', 'red', 'baz', 'dwarf']

# Element can be removed by value with remove, which locates the first value and remove it from the list:

In [23]:
b_list.append('foo')

b_list

['foo', 'red', 'baz', 'dwarf', 'foo', 'foo']

In [27]:
b_list.remove('foo')

b_list

['red', 'baz', 'dwarf', 'foo']

# Check a list contain a value using the in keyword:

In [30]:
'dwarf' in b_list

True

# The keyword not can be used to negate in:

In [33]:
'dwarf' not in b_list

False

# Concatenating and combining lists:

Similar to tuples using plus (+) to add two list together concatenate them

In [3]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

# You can also use extend method to add multiple/append element together:

In [6]:
x = [4, None, 'foo']

x.extend([7, 8, (2, 3)])

x

[4, None, 'foo', 7, 8, (2, 3)]

# Avoid using addition when concatenating a list because it demands that a new list be created and copied over. Instead, use the extend method to build a new large list

e.g 

everythin = []
for chunk in list_of_lists:
    everything.extend(chunk)

# is much faster compared to concatenative alternative

everything = []
for chunk in list_of_lists:
    everything = everything + chunk

# SORTING

Using a sort function you can call a list to sort it:

In [19]:
a = [7, 2, 5, 1, 3]

a.sort()

a

[1, 2, 3, 5, 7]

In [21]:
# Passing a secondary sort key function to produce a value to use to sort the objects: 


b = ['Hello', 'Jambo Kenya', 'Hakuna matata', 'He', 'six']

b.sort(key=len)

b

['He', 'six', 'Hello', 'Jambo Kenya', 'Hakuna matata']

# Slicing  

You can select sections of most sequence types using slice notation, whihc in its basic form consist of start: stop passed to the indexing operator []:

In [2]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

seq[1:5]

[2, 3, 7, 5]

In [4]:
seq[3:5] = [6, 3]

seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [6]:
seq[:5]

[7, 2, 3, 6, 3]

In [8]:
seq[3:]

[6, 3, 6, 0, 1]

In [10]:
seq[-4:]

[3, 6, 0, 1]

In [12]:
seq[-6:-2]

[3, 6, 3, 6]

# SLICING SEMANTINCS 


Illustration of slicing using positive and negative integers using the below example 

   H  E  L  L  O  !
   0  1  2  3  4  5 --> Positive slicing 
  -6 -5 -4 -3 -2 -1 ---> Negative slicing 

# Positive slicing
Example;
- string[4:2]

- The lower value are the index starting at 0 and proceeding onward. 
- In the above expample when slicing using string[2:4]
- You will starting counting 1, 2 (POSITIVE SLICING)and from the third value of the index values as shown in the example above and start slicing from L(2) to stop at L(3) which is the 4 depicted in the slicing sequences.
- So here we slice the LL in word above.

# Negative Slicing 
Example; 
- string[-5:-2]

- Using negative value the last value in the sequence is the -1 value, where you start counting to obtain the start value which represented by the the -5(E) and proceed to stop at -2 (O). 
- So here we slice ELL from the word  above