# List in python is ordered series of values.
# Examples below

prime = [2, 3, 5, 7]
print(prime)

In [6]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [10]:
# Making a list of lists 
# Typically, this the best method to use in this case to ensure simplicity and ease read

types_of_vehicles = [
                ['Mercede', 'Range', 'Lexus'],
                ['Scania', 'Bedford', 'Tata'],
                ['Dirt bike', 'Ducati', 'Harley Davidson'] # In the last element the comma is optional
]

print(types_of_vehicles)

[['Mercede', 'Range', 'Lexus'], ['Scania', 'Bedford', 'Tata'], ['Dirt bike', 'Ducati', 'Harley Davidson']]

In [11]:
# An example of list with different types of variable put together

my_daily_routine = [ 'gym', 91, help]

print(my_daily_routine)

['gym', 91, Type help() for interactive help, or help(object) for help about object.]

In [12]:
#Indexing allows you to access individual elements of the list
# Use square brackets [] to access individual elements 
# ZERO-BASED INDEXING 1st element has index 0
planets[0]

'Mercury'

In [13]:
# The second closest planet 

planets[1]

'Venus'

In [18]:
#A Access the last element of the list we use -1 example

planets[-1]

'Neptune'

In [23]:
planets[-2]

'Uranus'

In [25]:
# What are the first three planets 

planets[0:3]

['Mercury', 'Venus', 'Earth']

planet[0:3] is a way of asking the code to slice the elements in the above example beginning from the first index up to but not including index 3 on the list.

Alternatively, we can also write the code like this>>> planets[:3], which is right because we assume the slicing from 0.

In [26]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [28]:
#In this example, when leave out the end index pythons assumes it's the end of the list

planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [30]:
# All the planets except the first and the last

planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [31]:
# The last 2 planets 

planets[-2:]

['Uranus', 'Neptune']

# Changing list

# A List is Mutable they can be modified
One way of modifying a list is to assign it to an index or slice the expression

Let's rename the 4 planet in the list with

In [38]:
planets[4] = 'Whoopy'
planets

['Mur', 'Vee', 'Ur', 'Mars', 'Whoopy', 'Saturn', 'Uranus', 'Neptune']

In [40]:
# Shortening the list

planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)

#We can assign them back their actual names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

['Mur', 'Vee', 'Ur', 'Mars', 'Whoopy', 'Saturn', 'Uranus', 'Neptune']

# LIST FUNCTIONS

In [8]:
# The function len gives the length of the list 
# How many planets are in the list above
len(planets)

8

In [9]:
# Sorted return the sorted version of the list: 
# The Planets sorted in alphabetical order 
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [12]:
# Sum function for addition
primes = [2, 3, 5, 7]
sum(primes)

17

In [13]:
max(primes)

7

# Interlude: Objects
Objects carry things inside them. The best way to access them is using the dot(.) syntax

In [15]:
x = 12 

#x is a real number, so its imaginary part is 0.
print(x.imag)

0

In [18]:
# Using a complex number for example, 
c = 12 + 3j 
print(c.imag)

3.0

# The things object carry around can include function 
# A function attached to an object is known as a Method
In the example the imag is called an attribute

In [19]:
x.bit_length

In [20]:
# To call the above function, we add parenthesis/ brackets

x.bit_length()

4

In [22]:
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

In [26]:
# Adding Pluto to the list of the planets 

planets.append('Pluto')
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto', 'Pluto']

In [27]:
help(planets.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

# List.pop