# TUPLES 

Tuples are similar to the list. The two differences are: 

Their syntax use square brackets instead of parentheses instead of brackets

In [1]:
t = (1, 2, 3)
t

(1, 2, 3)

In [2]:
t = 1, 2 , 3 # Equavalent to the above 
t

(1, 2, 3)

# The cannot be modified (they are immutable)

In [3]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

Tuples are often used for functions that have multiple return values. 

For example, the as_integer_ratio() method of float object return a numerator and denominator in the form of tuple

In [2]:
x = 0.125
x.as_integer_ratio()

(1, 8)

These multiple return value can be individually assigned as follow:

In [3]:
numerator, denominator = x.as_integer_ratio()
print(numerator/denominator)

0.125

# Swaping two variable

In [5]:
a = 1 
b = 0

a, b = b, a
print (a, b)

0 1

# SOME PRACTICE EXCERCISE FOR LISTS AND TUPLES

In [59]:
def has_lucky_number(nums):
    """Return whether the given list of numbers is at least one number divisible by 7
    """
    for numb in nums:
        if numb % 7 == 0:
            return True
        # After exhausting the list without finding a lucky number 
    return False

has_lucky_number((1, 3, 18, 25))
has_lucky_number((12, 14, 16, 17))

True

In [61]:
# Using list Comprehension

def has_lucky_number(nums):
    return any([numb % 7 ==0 for numb in nums])

has_lucky_number((1, 3, 18, 25))
has_lucky_number((12, 14, 16, 17))

True

# Python and R has libraris like numpy and pandas that we can use for comparing elements of list to 2 (i.e do an element-wise comparison) and give us a list of booleans like [False, False, True, True]

In [74]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is True if L(i) is greater than
    L[i] is greater than thresh, False otherwise. 

    >>> elementwise_greater_than([1, 2 3, 4], 2)
    [False, False, True, True]
    """
    pass

elementwise_greater_than([1, 2, 3, 4], 2)